<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kamilabs !{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" data-nav-status="toggle">
                <div class="container-fluid">
                    <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">
                        Kamilabs
                    </a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        Menu
                        <i class="fas fa-bars ml-1"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        {{ knp_menu_render('main') }}
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block header %}
            <!-- Masthead-->
            <header class="masthead">
                {% block masthead_content %}
                <div class="overlay"></div>
                <div class="container content home-content d-flex justify-content-between">

                        <div class="d-flex flex-column justify-content-between">
                            <div class="masthead-subheading">Jérémy Vancoillie</div>
                            <div class="masthead-heading text-uppercase">Développeur</div>
                            <div class="masthead-subheading">En construction</div>
                        </div>
                        <div class="masthead-avatar">
                            <img class="mx-auto rounded-circle" src="{{ asset('build/avatar.png') }}" alt="my avatar">
                        </div>

                </div>
                <div class="masthead-wave">
                    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
                        <path d="M0,50 C150,150 350,-50 500,50 L500,200 L00,200 Z" style="stroke: none;fill: white;"></path>
                    </svg>
                </div>
                {% endblock masthead_content %}
            </header>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
